:root {
  --bg-color: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #000027;
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  color: #5e5d67;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}
